/*Tubes2_WebBrewery\src\frontend\app\globals.css  */

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #260026;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #260026;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.custom-link {
  stroke: white !important;
  stroke-width: 2px;
}

.rd3t-svg {
  height: auto !important;
  min-height: 300px;
}


.rd3t-node {
  cursor: pointer;
  fill: #777;
  stroke: #000;
  stroke-width: 1 !important;
}
